*{
    margin: 0%;
    padding: 0;
    list-style: none;
    text-decoration: none;
    background-color: black;

}
.logo i{
  height: 50px;
  width: 50px;
  margin-right: 600px;
  background: transparent;
  border: 3px solid pink;
  color: plum;
  border-radius: 50%;
  display:inline-flex ;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  cursor: pointer;
}

nav{
  display: flex;
  gap: 90px;
  font-size:23px;
 
}
nav a{
  color: rgb(255, 255, 255);
}
nav a:hover{
  color:rgb(242, 127, 255);
}

header{
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  align-items: center;
  text-align: center;
  gap: 3rem;
  background-color: rgb(0, 0, 0);
}


.containerpag3{
    width: 100%;
    columns: 4;
    background-color:black;
    margin-top: 3%;
    
}
.containerpag3 .box{
    width: 100%;
    margin-bottom: 1px;
 
   
}
.containerpag3 .box img{
    max-width:  100%;
    border-radius: 15px;
}
img{
    width: 100%;
    max-width: 100%;
    transition: transform 0.2s;
}
.containerpag3 img:hover{
    transform: scale(1.1);
    z-index: 1;
}
h1{
  text-align: center;
}

button{
  font-size: 100%;
  
}