*{
  margin: 0;
 
}

.pag1{
  width: 100%;
  height: 100vh;
  background-blend-mode: darken;
  background: rgba(3, 0, 12, 0.7) url(../ProjetoSalao/imagem/fundo2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
 
}

.titulo{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: inline-block;
  position: relative;
  text-align: center;
  color: white;
  font-size: 500%;
  left: 50%;
  top: 20vh;
}

.pag2{
  width: 100%;
  height: 100vh;
  background: fixed;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
 
}
.pag3{
  width: 100%;
  height: 100vh;
  background: fixed;
  background-color: aliceblue;
  background-repeat: no-repeat;
  background-size: cover;
 
}

