*{
    margin: 0%;
    padding: 0;
    list-style: none;
    text-decoration: none;

}
.containerpag3{
    width: 100%;
    columns: 4;
    background-color:black;
    
}
.containerpag3 .box{
    width: 100%;
    margin-bottom: 1px;
 
   
}
.containerpag3 .box img{
    max-width:  100%;
    border-radius: 15px;
}
img{
    width: 100%;
    max-width: 100%;
    transition: transform 0.2s;
}
.containerpag3 img:hover{
    transform: scale(1.1);
    z-index: 1;
}

/* CSS */
.button-51 {
  background-color: transparent;
  border: 1px solid #266DB6;
  box-sizing: border-box;
  color: #00132C;
  font-family: "Avenir Next LT W01 Bold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-51:hover,
.button-51:active {
  outline: 0;
}

.button-51:hover {
  background-color: transparent;
  cursor: pointer;
}

.button-51:before {
  background-color: #D5EDF6;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.button-51:hover:before {
  background-color: #6DCFF6;
}

@media (min-width: 768px) {
  .button-51 {
    padding: 16px 32px;
  }
}